/* Sayfanın tamamını kapsayacak şekilde HTML ve body'yi %100 yükseklikle ayarlayın */
html, body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ana konteyneri flexbox yapısına ayarlayın */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%; /* Sayfa tam boyut almalı */
}

/* İçerik alanı */
.main-content {
  flex: 1; /* İçerik alanı geri kalan tüm boşluğu alır */
}
