.footer {
    background-color: #222;
    color: #fff;
    padding: 15px 20px;
    text-align: center;
    font-size: 14px;
    width: 100%;
    position: relative;
    bottom: 0; /* Footer'ın altta olmasını sağlar */
}

/* Sayfa içerik alanını ortalayın */
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}
